input {
  border: none;
  border-radius: 10px 0 0 10px;
  padding: 0 2rem;
  height:4rem;
  width: 25rem;
  
}

input:focus {
  outline: none;
}

.addBtn {
  border-radius: 0 10px 10px 0;
  height:4rem;
  border: none;
  padding: 0 1rem;
}

.inputs{
  margin: 3rem auto;
}